<nav class="side-nav bg-dark" id="sidenav">

    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="dashboard">
          Dashboard
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="">
          Management
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="">
          Options
        </a>
      </li>
  
  
    </ul>
  
  <button type="button" class="btn btn-primary" routerLink="login" id="btnLogout">Log out</button>
  </nav>
  
  