.side-nav {
    position: fixed;
    top: auto;
    padding-top: 0;
    left: 0rem;
    width: 15%;
    height: 100vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin: 5%;
}

.list-group-item{
    background-color: #2C2C2C;
}

.list-group-item:hover{
    background-color: #B6B6B6;
    font-size: 20px;
    margin: 5px;
    border-radius: 10px;
}

#btnLogout{
    position: fixed;
    bottom: 5vh;
    left: 1%;

}

.dropdown-item{
    margin: 0;
    padding: 1vh;
    color: black;
    font-size: 15px;
}

