<div class="container d-flex align-items-center justify-content-center">
  <div class="card" id="container">
    <div class="card-body">
      
      <div>
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input class="form-control mb-3" type="text" id="firstName" name="firstName" #firstname>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input class="form-control mb-3" type="text" id="lastName" name="lastName" #lastname>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control mb-3" type="email" id="email" name="email" #email>
        </div>

        <div class="form-group">
          <label for="address">Address:</label>
          <input class="form-control mb-3" type="text" id="address" name="address" #address>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control mb-3" type="password" id="password" name="password" #password>
        </div>

        <button class="btn btn-primary w-100" type="submit" routerLink="" (click)="postMethod(firstname.value, lastname.value, email.value, address.value, password.value)">Register</button>

      </div>

    </div>
  </div>
</div>

<div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
  Invalid credentials. Somethings are missing.
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>

