<div class="container d-flex align-items-center justify-content-center">
  <div class="card" id="container">
    <div class="card-body">
      <form (ngSubmit)="login()">
        <label for="email">Email:</label>
        <input class="form-control mb-3" type="email" id="email" [(ngModel)]="email" name="email" required>
      
        <label for="password">Password:</label>
        <input class="form-control mb-3" type="password" id="password" [(ngModel)]="password" name="password" required>
      
        <button class="btn btn-primary w-100" type="submit">Login</button>
        <a routerLink="registration">No Account? Click here</a>

      </form>
    </div>
  </div>
</div>

<div *ngIf="showErrorAlert" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
  Invalid credentials. Please check your email and password.
  <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
</div>