<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#">Employment System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a type="button" class="nav-link text-light" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link text-light" href="#">About</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link text-light" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link text-light" href="#" data-bs-toggle="modal" data-bs-target="#contacts">Contact</a>

          <div class="modal fade" id="contacts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Contacts</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container"></div>
                        <div class="row">
                            <h5 class="col">Number:</h5><p class="col">0912-3456-789</p>
                        </div>
                        <div class="row">
                            <h5 class="col">Gmail:</h5><p class="col">abc.company@gmail.com</p>
                        </div>
                    </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </nav>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>