<table>
  <tr>
    <th>ID</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Gender</th>
    <th>Age</th>
  </tr>  
  <tr  *ngFor="let employee of getEmployee.employees">
    <td>{{employee.id}}</td>
    <td>{{employee.lastname}}</td>
    <td>{{employee.firstname}}</td>
    <td>{{employee.gender}}</td>
    <td>{{employee.age}}</td>

    <td><button class="btn border-success" type="button" (click)="showMethod(employee.id,
      employee.lastname, employee.firstname, employee.gender,
      employee.age, employee.birthdate, employee.email, employee.address)"
      data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
    </td>
    <td><button class="btn btn-info" type="button" (click)="openEdit(employee.id,
      employee.lastname, employee.firstname, employee.gender,
      employee.age, employee.birthdate, employee.email, employee.address)"
      data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>

      <!--editModal-->
      <!--editModal-->
      <!--editModal-->
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <h1>ID: {{editId}}</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="eFirstName">First Name</label>
                      <input type="text" class="form-control" id="eFirstName" placeholder="First Name" [value]="editFirstName" #eFirstName/>
                    </div>
                    <div class="col">
                      <label for="eLastName">Last Name</label>
                      <input type="text" class="form-control" id="eLastName" placeholder="Last Name" [value]="editLastName" #eLastName/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="eGender">Gender</label>
                      <select type="text" class="form-control" id="eGender" placeholder="gender" [value]="editGender" #eGender>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="eAge">Age</label>
                      <input type="number" class="form-control" id="eAge" placeholder="Age" [value]="editAge" #eAge>
                    </div>
                    <div class="col">
                      <label for="eBirthDate">Birth Date</label>
                      <input type="date" class="form-control" id="eBirthDate" [value]="editBirthDate" #eBirthDate>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label for="eEmail">Email</label>
                      <input type="email" class="form-control" id="eEmail" placeholder="Email" [value]="editEmail" #eEmail>
                    </div>
                    <div class="col">
                      <label for="eAddress">Address</label>
                      <input type="text" class="form-control" id="eAddress" placeholder="Address" [value]="editAddress" #eAddress>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" (click)="editMethod(employee.id, eLastName.value, eFirstName.value, eGender.value, eAge.value, eBirthDate.value, eEmail.value, editAddress.value)">Save changes</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


    </td>
    <td><button class="btn border-danger" type="button" (click)="deleteMethod(employee.id)">Delete</button></td>
    
  </tr>
</table>



<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
<button class="btn btn-danger" routerLink="">Logout</button>

<!--viewModal-->
<!--viewModal-->
<!--viewModal-->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">

          <h1>{{showId}}</h1>
          <p>{{showLastName}}, {{showFirstName}}</p>
          <p>Gender: {{showGender}}</p>
          <p>Age: {{showAge}}, Birth Date: {{showBirthDate}}</p>
          <p>Email: {{showEmail}}</p>
          <p>Address: {{showAddress}}</p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!--AddModal-->
<!--AddModal-->
<!--AddModal-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="container form-control">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Last Name" #lastname>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="First Name" #firstname>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <select name="gender" class="btn" #gender>
                <option value="Male">Male</option>
                <option value="Male">Female</option>
              </select>
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="Age" #age>
            </div>
            <div class="col">
              <input type="date" class="form-control" #birthdate>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email" #email>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Address" #address>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postMethod(lastname.value, firstname.value, gender.value, age.value, birthdate.value, email.value, address.value)">Save changes</button>
      </div>
    </div>
  </div>
</div>