

<div class="container" id="table">
  <div class="row">
    <div class="col" id="borderLeft">
      <h1>Users List</h1>
      <div *ngFor="let user of getUser.users" id="nameList">
        {{ user.lastname }}, {{ user.firstname }}
      </div>
    </div>
    <div class="col">
      
      <h1>Employees</h1>
      <div *ngFor="let employee of getEmployee.employees" id="nameList">
        ID: {{employee.id}}-{{ employee.lastname }}, {{ employee.firstname }}
      </div>
    </div>
  </div>
</div>