<table class="w-100">
  <td colspan="3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDataModal">Add</button>
  </td>
  <td colspan="3">
      <button class="btn btn-primary" (click)="loadData()">refresh</button>
  </td>
  <tr>
    <th>
      Id
    </th>
    <th>
      Last Name
    </th>
    <th>
      First Name
    </th>
    <th>
      Gender
    </th>
    <th>
      Age
    </th>
    <th>
      Birth Date
    </th>
    <th>
      Date Hired
    </th>
    <th>
      Actions
    </th>
    
  </tr>
  <tr *ngFor="let session of session">
    <td>
      {{session.id}}
    </td>
    <td>
      {{session.lastName}}
    </td>
    <td>
      {{session.firstName}}
    </td>
    <td>
      {{session.gender}}
    </td>
    <td>
      {{session.age}}
    </td>
    <td>
      {{session.birthDate}}
    </td>
    <td>
      {{session.dateHired}}
    </td>
    <td>
            <button class="btn btn-danger" (click)="removeData(session.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
              </svg>
            </button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDataModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
              </svg>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editDataModal">Edit</button>
    </td>
    
  </tr>

</table>


<div class="modal fade" id="addDataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Employee</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mb-1">
            <div class="col-1">
                <label for="id">ID:</label>
            </div>
            <div class="col-2">
              <input type="text" id="id" class="form-control" #id>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="lastName">Last Name:</label>
            </div>
            <div class="col">
              <label for="firstName">First Name:</label>
            </div>
          </div>
            <div class="row">
              <input id="lastName" type="text" class="form-control col me-1" #lastName>
              <input type="text" class="form-control col ms-1" #firstName>
            </div>
        </div>


          <div class="input-group">
            <span class="input-group-text">Gender</span><input type="text" class="form-control" #gender>
          </div>
          <div class="input-group">
            <span class="input-group-text">Age</span><input type="text" class="form-control" #age>
          </div>
          <div class="input-group">
            <span class="input-group-text">Birth Date</span><input type="text" class="form-control" #birthDate>
          </div>
          <div class="input-group"><input type="text" class="form-control" #dateHired>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-success" (click)="saveData(id.value, lastName.value, firstName.value, gender.value, age.value, birthDate.value, dateHired.value)">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editDataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Employee</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mb-1">
            <div class="col-1">
                <label for="id">ID:</label>
            </div>
            <div class="col-2">
              <input type="text" id="id" class="form-control" #idEdit>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="lastName">Last Name:</label>
            </div>
            <div class="col">
              <label for="firstName">First Name:</label>
            </div>
          </div>
            <div class="row">
              <input id="lastName" type="text" class="form-control col me-1" #lastNameEdit>
              <input type="text" class="form-control col ms-1" #firstNameEdit>
            </div>
        </div>


          <div class="input-group">
            <span class="input-group-text">Gender</span><input type="text" class="form-control" #genderEdit>
          </div>
          <div class="input-group">
            <span class="input-group-text">Age</span><input type="text" class="form-control" #ageEdit>
          </div>
          <div class="input-group">
            <span class="input-group-text">Birth Date</span><input type="text" class="form-control" #birthDateEdit>
          </div>
          <div class="input-group"><input type="text" class="form-control" #dateHiredEdit>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-success" (click)="editData(idEdit.value, lastNameEdit.value, firstNameEdit.value, genderEdit.value, ageEdit.value, birthDateEdit.value, dateHiredEdit.value)">Add</button>
      </div>
    </div>
  </div>
</div>